<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <form method="post">
        <input type="number" placeholder="NIK" name="nik" id="nik" min=0 required>
        <input type="text" placeholder="Nama Lengkap" name="nama_lengkap" id="nama_lengkap" required>
        <input type="text" placeholder="Nama Ibu Kandung" name="nama_ibu_kandung" id="nama_ibu_kandung" required>
        <input type="submit" value="Submit">
    </form>
    {% for message in get_flashed_messages() %}
    <div class="text-danger">{{ message }}</div>
    {% endfor %}
</body>

</html>